body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.banner{
    background: gray;
    padding: 300px 0px;
}
.content{
    background: black;
    padding: 0px 0px;
}
.content div{
    background-color: blue;
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
}
.content div div{
    background-color: white;
    padding: 0px 0px;
    display: inline;
    width: 50%;
    height: 10cm;
    float: left;
}
.contact{
    background: gray;
    padding: 50px 0px;
}
.text p{
    color: black;
    text-align: center;
    text-transform: capitalize;
    margin: 0px 120px;
    position: relative;
    top: 110px;
}
