body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background-color: #ff4655;
}
body::-webkit-scrollbar-thumb{
    background-color: #ffaa00;
}
ul{
    margin: 0;
    padding: 1% 5%;
    list-style-type: none;
    background-color: #232323;
}
li{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    display: inline-block;
    border-radius: 10px;
    margin-right: 30px;
    background-color: var(ul);
    padding: 10px 30px;
    transition: 200ms ease;
}
li:hover{
    background-color: #3a3a3a;
    transition: 200ms ease;
}
a{
    color:white;
    text-decoration: none;
}
.container{
    display:flexbox;
}
.name{
    font-style: italic;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 140px 0;
    position:relative;
    top:0px;
    left:0px;
}
.desc{
    position:absolute;
    text-transform: capitalize;
    top:480px;
    left:90px;
}
